{% extends 'base.html' %}

{% block content %}
{% include 'add_work_header.html' %}
<div class="container pt-5 mt-5">
    <form id="add-work-form" method="POST" action="/add_work">
        <!-- New Event Section -->
        <div class="row mt-4">
            <div class="col-2">
                <label for="work-id">Work ID</label>
                <input type="text" id="work-id" name="work_id" class="form-control bg-dark text-white" placeholder="Enter Work ID">
            </div>
            <div class="col-10">
                <label for="event-name">Event Name</label>
                <input type="text" id="event-name" name="event_name" class="form-control bg-dark text-white" placeholder="Enter Event Name">
            </div>
        </div>

        <!-- Client Section -->
        <div id="existing-client-section" class="form-group mt-3">
            <label for="client-selection">Select Existing Client</label>
            <select id="client-selection" name="client_id" class="form-control bg-dark text-white">
                <option value="" disabled selected>Select Client</option>
                {% for client in clients %}
                <option value="{{ client.id }}">{{ client.name }}</option>
                {% endfor %}
            </select>
            <a href="#" id="create-new-client-link" class="btn btn-link text-white mt-2">+ Create New Client</a>
        </div>

        <div id="new-client-section" class="form-group mt-3" style="display: none;">
            <label for="new-client-name">Client Name</label>
            <input type="text" id="new-client-name" name="client_name" class="form-control bg-dark text-white" placeholder="Enter New Client Name">
            <label for="new-client-color" class="mt-3">Client Color</label>
            <input type="color" id="new-client-color" name="client_color" class="form-control bg-dark text-white">
            <a href="#" id="revert-existing-client-link" class="btn btn-link text-white mt-2">← Select Existing Client</a>
        </div>

        <!-- Workdays Section -->
        <div id="workdays-section" class="mt-5">
            <h4>Add Workdays</h4>
            <div class="workday-header-row sticky-top mt-3">
                <label>Date</label>
                <label>Start Time</label>
                <label>End Time</label>
                <label>Break Time (minutes)</label>
                <label>Daily Fee</label>
                <label>Actions</label>
            </div>
            <div id="workdays-container">
                <!-- Default Row -->
            </div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/add_client.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_workday.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}
