{% extends 'base.html' %}

{% block content %}
<!-- Header Section -->
{% include 'dashboard_header.html' %}

<!-- Main Content -->
<div class="container-dashboard pt-5 mt-5">
    <ul class="responsive-table">
        <!-- Table Header -->
        <li class="table-header d-flex">
            <div class="col text-uppercase">Date</div>
            <div class="col text-uppercase">Work ID</div>
            <div class="col text-uppercase">Work Name</div>
            <div class="col text-uppercase">Client Name</div>
            <div class="col text-uppercase">Start Time</div>
            <div class="col text-uppercase">End Time</div>
            <div class="col text-uppercase">Break Time</div>
            <div class="col text-uppercase">Work Time</div>
            <div class="col text-uppercase">Total Fee</div>
            <div class="col text-uppercase">Actions</div>
        </li>

        <!-- Workday Entries -->
        {% for workday in workdays %}
            {% include 'dashboard_workday_entry.html' %}
        {% endfor %}
    </ul>
</div>

<script src="{{ url_for('static', filename='js/delete_confirm_highlight.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter_by_date.js') }}"></script>
<script src="{{ url_for('static', filename='js/toggle_highlight.js') }}"></script>
{% endblock %}
