<div class="workday-row">
    <input type="date" name="workday_date" class="form-control bg-dark text-white workday-date" value="{{ next_date }}">
    <input type="time" name="workday_start_time" class="form-control bg-dark text-white workday-start-time" value="09:00">
    <input type="time" name="workday_end_time" class="form-control bg-dark text-white workday-end-time" value="18:00">
    <input type="number" name="workday_break_time" class="form-control bg-dark text-white workday-break-time" value="60">
    <input type="number" name="workday_daily_fee" class="form-control bg-dark text-white workday-daily-fee" value="230">
    <button type="button" class="btn btn-danger btn-sm remove-workday-btn">Remove</button>
</div>